body{
    background: #ccc;
}
#oiler_wrapper{
    padding: 1em;
}
#euler_question{
    padding: 1em;
    background: #ccc;
    border: 2px outset #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;
}
.label{
    font-weight: bold;
    font-size: larger;
}
.text_dump{
    padding: 0.25em 1em;
    border-radius: 0.25em;
    border: 1px solid #aaa;
    background: #eee;
    overflow: auto;
}